
<body>
<link rel="stylesheet" href="./barra.component.css">

<div class="container">

<div class="maincontainer">
  <div class="thecard">
    <div class="thefront">
      <h1>Encuentra Empleo en Empresas de Seguridad Privada Certificadas por FENASPE</h1>
    </div>
  <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/certificadas']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer1">
  <div class="thecard">
    <div class="thefront">
      <h1>2</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/mapa']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer2">
  <div class="thecard">
    <div class="thefront">
      <h1>3</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/recompensa']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer3">
  <div class="thecard">
    <div class="thefront">
      <h1>4</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/extraviados']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer4">
  <div class="thecard">
    <div class="thefront">
      <h1>5</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/ayuda']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer5">
  <div class="thecard">
    <div class="thefront">
      <h1>6</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/empleo']">INGRESA</button>
    </div>
  </div>
</div>

<div class="maincontainer6">
  <div class="thecard">
    <div class="thefront">
      <h1>7</h1>
        
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button [routerLink]="['/herramientas/bitacora']">INGRESA</button>
    </div>
  </div>
</div>
</div>
</body>