
<body>
  <div class="capa"></div>
   <div class="navigation">
    <ul>
      <li *ngFor="let item of items; let i = index" class="list" [ngClass]="{ active: i === activeIndex }" (click)="setActive(i)">
        <a href="#">
          <span class="icon"><i [class]="item.icon"></i></span>
          <span class="text">{{ item.text }}</span>
        </a>
      </li>
      <div class="capa"></div>
      <div class="indicador"></div>
    </ul>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<link rel="stylesheet" href="./barra.component.css">
<div class="container">

<div class="maincontainer">
  <div class="thecard">
    <div class="thefront">
      <h1>1</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer1">
  <div class="thecard">
    <div class="thefront">
      <h1>2</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer2">
  <div class="thecard">
    <div class="thefront">
      <h1>3</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer3">
  <div class="thecard">
    <div class="thefront">
      <h1>4</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer4">
  <div class="thecard">
    <div class="thefront">
      <h1>5</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer5">
  <div class="thecard">
    <div class="thefront">
      <h1>6</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

<div class="maincontainer6">
  <div class="thecard">
    <div class="thefront">
      <h1>7</h1>
        <p>This is the front of the card. It contains important information. Please see overleaf for more details.</p>
    </div>
    <div class="theback">
          <h1>Back of Card</h1>
          <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
        <button>Submit</button>
    </div>
  </div>
</div>

</div>

</body>